/*-----------------------CONTACTO--------------------------------*/

@media screen and (max-width: 400px){
    .maps{
        flex-wrap: wrap;
        width: 40%
    }
    
    .section-contacto{
        flex-direction: column;
    }
}

.section-contacto{
    font-family: $fuente-gral;
    display: flex;
    justify-content: center;
}

.contacto{
    margin-top: 60px;
    margin-left: 40px;
    font-size: 60px;
}

.form{
    @include sizes(30%, 40%);
    text-align: center;

    fieldset{
        padding: 30px;
    }

    label{
        font-style: italic;
        font-size:16px;
        font-weight: bold;
        margin: 10px;
    }

    input{
        background-color: rgb(120, 120, 120);
        margin-left: 10px;
        }

}


.button input{
    margin: 10px;
    padding: 5px;
    @extend .color-global;
}


.whatsapp{
    margin: 30px;
    padding: 30px;

    h3{
        margin-bottom: 30px;
    }
}

.btn-wa{
    text-decoration: none;
    background-color: rgb(0, 201, 0);
    color: $color-claro;
    margin-bottom: 80px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}





#mapa h3{
    margin: 10px;
    @extend .color-global;
    padding: 10px;
}

#mapa span{
    font-family: $fuente-gral;
    font-size: 40px;
    padding: 15%;
    margin: 50px;
    color: aliceblue;
}

.maps{
    display: flex;
}

