/*------------------------TIENDA ONLINE---------------------------*/


@media screen and (max-width: 400px){
    .card{
        width: 100% !important;
        padding: 16px;
        margin: 10px;
    }

    .card__img {
        width: 80% !important;
        height: 80% !important;
    }

    .card__nombre{
        font-size: 15px !important;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }

    .card__descripcion{
        font-size: 10px !important;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }

    .card__precio{
        margin: 8px !important;
    }
    
    .card-flex{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .oferta{
        font-size: 20px;
        right: -66px !important;
        padding: 0 !important;
    }

}


.card__img{
    width: 50%;
    height: 50%;
}

.card__nombre{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 30px;
    /* background-color: beige; */
    left: 10px;
}

.card__descripcion{
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.card__precio{
font-size: 25px;
font-weight: bolder;
margin: 30px;
}

.boton{
    padding: 5px;
    font-size: medium; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    color:white;
    background-color: black;
    text-align: center;
}

.card{
    width: 40%;
    height: 30%;
    border: solid 4px black;
    padding: 40px;
    position: relative;
    margin: 30px;
    background-color: rgb(109, 109, 109);
    align-items: center;

    p{
        text-align: center;
        font-family:Arial, Helvetica, sans-serif ;
    }
}

.card-flex{
    display: flex;
    width: 100%;
    padding: 50px;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.oferta{
    background-color: red;
    color: white;
    position: absolute;
    top: 4px;
    right: -82px;
    border-radius: 100px;
    padding: 10px;
}


.tienda-online{
margin-top: 60px;
margin-left: 40px;
font-size: 60px;
font-family: $fuente-gral;
}

